<section class="container">
    <h1 class="title_ofertas">OFERTAS DA SEMANA</h1>
    <div class="row"> 
        <div class="ofertas">
            <article id="video">
                <iframe width="260" height="170" src="https://www.youtube.com/embed/x-fuS_HH9CA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
            <img src="" alt="">
            <h3>CAPITÃO AMÉRICA</h3>
            <p>
                Quando Steve Rogers precisa de ajuda ele reune toda a equipe pra enfrentar novas ameças. Se ver já é emocionante, imagine tatear cada página do seu HQ favorito.
            </p>
            <button type="button" class="btn btn-danger">Compre com desconto especial!</button>
        </div>
        <div class="ofertas">
            <article id="video">
                <iframe width="260" height="170" src="https://www.youtube.com/embed/q1cYjJa5cc8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </article>
            <img src="" alt="">
            <h3>Homem Aranha</h3>
            <p>
                A incrivél batalha do Homem Aranha vs arqui-inimigo Venon. Disputa épica pra conferir nessa HQ super rara item de colecionador e o melhor estamos em promoção.
            </p>
            <button type="button" class="btn btn-danger">Compre com desconto especial!</button>
        </div>
        <div class="ofertas">
            <article id="video">
                <iframe width="260" height="170" src="https://www.youtube.com/embed/pB1qWW6fGso" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
            <img src="" alt="">
            <h3>Capitã Marvel</h3>
            <p>
                Ela era piloto da força aérea mas se tornou uma vingadora cósmica com batalhas além desse mundos. Hoje sua HQ é uma das mais vendidas e essa edição pode ser sua.
            </p>
            <button type="button" class="btn btn-danger">Compre com desconto especial!</button>
        </div>
        <div class="ofertas">
            <article id="video">
                <iframe width="260" height="170" src="https://www.youtube.com/embed/L4Hp9msvPow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
            <img src="" alt="">
            <h3>Marvel Avengers</h3>
            <p> 
                O espaço, o tempo e a realidade já não são mais lineares. Essa é uma versão de HQ com capa dura edição especial super limitada, item de colecionador.

            </p>
            <button type="button" class="btn btn-danger">Compre com desconto especial!</button>
        </div>
</div>